@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    background: linear-gradient(90deg, #0353a4, #96e072, #0353a4);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

h1{
    color: #fff;
    font-size: 30px;
}

.card-carros{
    background-color: #fff;
    /* margin: 5px; */
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

#panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.form{
    background-color: #fff;
    width: 40%;

    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 10px;

    padding: 25px;
    border-radius: 10px;
}

.c-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}